<div class="message-wrapper">
  <div class="message-container">
    <h3 class="recipient-user"><%= "#{@conversation.recipient.name}さんとのメッセージ" %></h3>

    <% if @over_ten %>
      <div class="previous-messages">
        <%= link_to t('messages.previous message'), '?m=all' %>
      </div>
    <% end %>

    <div class="message-list">
      <% @messages.each do |message| %>
        <% if message.content.present? %>
          <div class="message-item">
            <div class="message-header">
              <strong><%= message.user.name %></strong>
              <span class="message-time"><%= message.message_time %></span>
            </div>
            <div class="message-content">
              <i class="right triangle icon"></i>
              <%= message.content %> /
              <% if message.user == current_user %>
                <%= t(message.read ? 'messages.read' : 'messages.unread') %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= form_with(model: [@conversation, @message], html: { class: "message-form" }) do |f| %>
      <div class="field">
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div class="submit-button">
        <%= f.submit t("messages.send_message"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
