<div id="error_wrapper" style="display: flex; justify-content: center; align-items: center;">
  <% if @message.errors.any? %>
    <div id="error_explanation" style="padding_left: 30px; background-color: #ffcccc; border-radius: 10px; padding: 20px;">
      <h2 style="color: #ffcccc;"><i class="fas fa-exclamation-triangle"></i><%= t("helpers.pluralize.other", count: @message.errors.count) %></h2>
      <h3 style="color: #cc0000;"><i class="fas fa-ban"></i> <%= t("activerecord.errors.messages.prohibited") %></h3>
      <ul style="list-style-type: none;">
        <% @message.errors.full_messages.each do |msg| %>
          <ul style="color: #990000;"><i class="fas fa-times-circle"></i> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="message-wrapper">
  <div class="message-container">
    <% if @over_ten %>
      <div class="previous-messages">
        <%= link_to t('messages.previous message'), '?m=all' %>
      </div>
    <% end %>

    <div class="message-list">
      <h2 class="recipient-user"><%= "#{@conversation.recipient.name}さんとのメッセージ" %></h2>
      <% @messages.each do |message| %>
        <% if message.content.present? %>
          <div class="message-item">
            <div class="message-header">
              <strong><%= message.user.name %></strong>
              <span class="message-time"><%= message.message_time %></span>
            </div>
            <div class="message-content">
              <i class="right triangle icon"></i>
              <%= message.content %> /
              <% if message.user == current_user %>
                <%= t(message.read ? 'messages.read' : 'messages.unread') %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= form_with(model: [@conversation, @message], html: { class: "message-form" }) do |f| %>
      <div class="field">
        <%= f.text_area :content, class: "form-control", placeholder: t("messages.please enter your message") %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <div class="submit-button">
        <%= f.submit t("messages.send_message"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
