<%= form_with(model: branch) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation" class="error-messages">
      <h2><%= t("helpers.pluralize.other", count: branch.errors.count) %></h2>
      <ul>
        <% branch.errors.each do |error| %>
          <ul><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('branches.name') %>
    <%= form.text_field :name, placeholder: t("branches.name")  %>
  </div>

  <%= form.hidden_field :repository_id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
