
<div class="table-container">
<h1 class="heading">
  Branches
</h1>
  <table class="branches-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Repository ID</th>
        <th>Branch ID</th>
        <th>Descendant status</th>
        <th>show</th>
        <th>edit</th>
        <th>destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.repository_id %></td>
          <td><%= branch.id %></td>
          <td><%= branch.status %></td>
          <td><%= link_to '<i class="fas fa-eye"></i> Show'.html_safe, branch_path(branch) %></td>
          <td><%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_branch_path(branch, repository_id: @repository) %></td>
          <td><%= link_to '<i class="fas fa-trash"></i> Destroy'.html_safe, branch_path(branch, repository_id: @repository), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Repository一覧', repositories_path(repository_id: @repository), class: 'new-branch-btn' %>
  <%= paginate @branches %>
</div>

