<% if @branch.present? %>
  <div class="table-container">
    <table class="info-table">
      <tr>
        <th>Name:</th>
        <td><%= @branch.name %></td>
      </tr>
      <tr>
        <th>Repository:</th>
        <td><%= @branch.repository_id %></td>
      </tr>
    </table>
    <%= button_to create_from_existing_branch_path(@branch, repository_id: @repository.id), method: :post, class: "btn btn-primary" do %>
      <i class="fas fa-code-branch"></i> branchを切る
    <% end %>


    <%= link_to '<i class="fas fa-edit"></i>Edit'.html_safe, edit_branch_path(@branch, repository_id: @branch.repository.id), class: "btn btn-secondary" %> |
    <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, branches_path(repository_id: @branch.repository.id), class: "btn btn-secondary" %> |
    <%= link_to 'Document一覧', documents_path(branch_id: @branch.id, repository_id: @branch.repository.id), class: "btn btn-secondary" %> |

  <% elsif @new_branch.present? %>
    <table class="info-table">
      <tr>
        <th>Name:</th>
        <td><%= @new_branch.name %></td>
      </tr>
      <tr>
        <th>Repository:</th>
        <td><%= @new_branch.repository_id %></td>
      </tr>
    </table>
  </div >
<% end %>
