<div class="favorite-repositories-wrapper">
  <h1><%= t('repositories.favorite repository') %></h1>
  <div class="favorite-repositories-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= t('repositories.name') %></th>
          <th class="text-center"><%= t('repositories.favorite') %></th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_repositories.each do |favorite_repository| %>
          <tr>
            <td>
              <%= link_to favorite_repository.name, repository_path(favorite_repository), class: "repository-link" %>
            </td>
            <td class="text-center">
              <%= link_to t('repositories.non favorite') , favorite_repository_path(favorite_repository, repository_id: favorite_repository.id), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="repositories-link">
      <%= link_to t('repositories.repositories'), repositories_path, class: "btn btn-primary" %>
    </div>
    <div class="repositories-link">
      <%= paginate @favorite_repositories %>
    </div>
  </div>
</div>
