<%= form_with(model: repository, html: { autocomplete: "off", class: "repository-form"}) do |form| %>
  <% if repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('repositories.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, t('repositories.description')  %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status, t('repositories.status') %>
    <%= form.select :status, Repository.statuses.keys.map { |status| [Repository.human_attribute_name("statuses.#{status}"), status] }, {prompt: t("repository.select_prompt")}, class: "status_select" %>
  </div>

  <div class="field">
    <%= form.label :priority, t('repositories.priority') %>
    <%= form.select :priority, Repository.priorities.keys, {prompt: t("repository.select_prompt")}, class: "priority_select" %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :user_id %>
    <%#= form.text_field :user_id %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
