<div class="repository-index-container">
  <div class="search-container">
    <h1 style="margin-bottom: 30px;"><%= t('repositories.repositories') %></h1>
    <div>
      <%= render 'search', q: @q, url: repositories_path %>
    </div>
    <div style="font-size: 12px; display: flex; align-items: center;">
      <p style="margin-right: 5px;"><%= t('common.search results') %>:</p>
      <p><%= "#{@count}件" %></p>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th><%= t('repositories.name') %></th>
        <th><%= t('repositories.description') %></th>
        <th><%= t('repositories.status') %></th>
        <th><%= t('repositories.priority') %></th>
        <th><%= t('repositories.owner') %></th>
        <th class="action"><%= t('common.show') %></th>
        <th class="action"><%= t('common.edit') %></th>
        <th class="action"><%= t('common.destroy') %></th>
        <th class="action"><%= t('common.favorite') %></th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <% if current_user.present? == true %>
          <% if !repository.status_closed? || repository.user_id == current_user.id %>
            <%# unless repository.status_closed? && repository.user_id != current_user.id %>
            <tr>
              <td><%= repository.name %></td>
              <td><%= repository.description %></td>
              <td><%= repository.status %></td>
              <td><%= repository.priority %></td>
              <td>
                <%= link_to user_path(repository.user.id) do %>
                  <%= content_tag(:i, '', class: 'fa fa-book') %> <%= repository.user.name %>
                <% end %>
              </td>
              <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, repository %></td>
              <% if current_user.present? && repository.user_id == current_user.id %>
                <td><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_repository_path(repository) %></td>
                <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
              <% if current_user.favorited_repositories.include?(repository) %>
                <td><%= link_to ('<i class="fas fa-star"></i>' + t('repositories.non favorite')).html_safe, favorite_repository_path(repository, repository_id: repository.id), method: :delete %></td>
              <% else %>
                <td><%= link_to ('<i class="far fa-star"></i>' + t('repositories.favorite')).html_safe, favorite_repositories_path(repository, repository_id: repository.id), method: :post %></td>
              <% end %>
            </tr>
          <% end %>
        <% elsif current_user.present? == false %>
          <% if !repository.status_closed? %>
            <tr>
              <td><%= repository.name %></td>
              <td><%= repository.description %></td>
              <td><%= repository.status %></td>
              <td><%= repository.priority %></td>
              <td><%= repository.user_id %></td>
              <td><%= link_to 'Show', repository %></td>
            </tr>
          <% end %>          
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="pagination-container" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="margin-left: 20px;">
      <%= paginate @repositories %>
    </div>
    <div style="margin-right: 20px;">
      <%= link_to t('repositories.new repository'), new_repository_path %>
    </div>
  </div>
</div>