<div class="repository-show-container">

  <p>
    <strong><%= t('repositories.name') %>:</strong>
    <%= @repository.name %>
  </p>

  <p>
    <strong><%= t('repositories.owner') %>:</strong>         
    <%= link_to user_path(@repository.user.id) do %>
      <%= content_tag(:i, '', class: 'fa fa-book') %> <%= @repository.user.name %>
    <% end %>
  </p>

  <p>
    <strong><%= t('repositories.description') %>:</strong>
    <%= @repository.description %>
  </p>

  <% if current_user.id != @repository.user_id %>
    <p>
    <strong><%= t('repositories.help the owner') %>:</strong>
      <%= link_to new_point_path(receiver_id: @repository.user.id) do %>
        <%= content_tag(:i, '', class: 'fa fa-book') %> <%= "#{@repository.user.name}にポイントを送る" %>
      <% end %>
    </p>
  <% end %>
  <hr>
  <%# <p> %>
    <%# <strong>ブランチ作成:</strong> %>
    <%#= link_to 'ブランチ作成', new_branch_path(repository_id: @repository.id) %>
    <%# ↑おそらく(repository_id: @repository.id)を明示的に書く必要あり %>
  <%# </p> %>
  <p><strong>
    <%= t('branches.branches') %>:
    <%= @repository.description %>
  </strong></p>
  <table>
    <thead>
      <tr>
        <th><%= t('branches.name') %></th>
        <th><%= t('branches.repository') %></th>
        <th><%= t('branches.descendance') %></th>
        <th class="action"><%= t('common.show') %></th>
        <th class="action"><%= t('common.edit') %></th>
        <th class="action"><%= t('common.destroy') %></th>
      </tr>
    </thead>
    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.repository.name %></td>
          <td><%= branch.status %></td>
          <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, branch_path(branch, repository_id: branch.repository.id) %></td>
          <td><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_branch_path(branch, repository_id: branch.repository.id) %></td>
          <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, branch_path(branch, repository_id: @repository), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @branches, param_name: 'branches_page' %>

  <hr>
  
  <p><strong>
    <%= t('issues.issues') %>:
    <%# (repository_id: @repository.id)を明示的に書く必要あり %>
  </strong></p>
  <table>
    <thead>
      <tr>
        <th><%= t('issues.name') %></th>
        <th><%= t('issues.description') %></th>
        <th><%= t('issues.status') %></th>
        <th><%= t('issues.priority') %></th>
        <th><%= t('issues.repository') %></th>
        <th class="action"><%= t('common.show') %></th>
        <th class="action"><%= t('common.edit') %></th>
        <th class="action"><%= t('common.destroy') %></th>
        <th class="action"><%= t('common.assign') %></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <% if current_user.present? %>
          <% if !issue.status_closed? || issue.user_id == current_user.id %>
            <%# unless issue.status_closed? && issue.user_id != current_user.id %>
            <tr>
              <td><%= issue.name %></td>
              <td><%= issue.description %></td>
              <td><%= issue.status %></td>
              <td><%= issue.priority %></td>
              <td><%= issue.repository.name %></td>
              <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe,  issue_path(issue) %></td>
              <td><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_issue_path(issue, repository_id: issue.repository.id) if issue.user_id == current_user.id %></td>
              <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, issue, method: :delete, data: { confirm: 'Are you sure?' } if issue.user_id == current_user.id %></td>
              <%#= link_to '<i class="fas fa-trash"></i>'.html_safe, issue, repository_id: issue.repository.id, method: :delete, data: { confirm: 'Are you sure?' } if issue.user_id == current_user.id %>
              <%# TODO:repository_id: issue.repository.idが不要だった！ %>
              <td>
                <% if current_user.id == issue.user_id %>
                  <% if issue.assignees.present? %>
                    <%= link_to '<i class="fas fa-times"></i>'.html_safe, assignee_path(issue.id, issue: issue, user_id: current_user), method: :delete %>
                  <% else %>
                    <%= link_to '<i class="fas fa-hand-paper"></i>'.html_safe, assignees_path(issue: issue, user_id: current_user), method: :post %>
                  <% end %>
                <% end %>
              </td>
          </tr>
        <% end %>
      <% elsif current_user.present? == false %>
        <tr>
          <td><%= issue.name %></td>
          <td><%= issue.description %></td>
          <td><%= issue.status %></td>
          <td><%= issue.priority %></td>
          <td><%= issue.repository.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @issues, param_name: 'issues_page' %>
<div class="Edit-RSpec">
  <% if current_user == @repository.user %>
    <%= link_to t('common.edit'), edit_repository_path(@repository) %> |
  <% end %>
  <%= link_to t('common.back'), repositories_path %> |
  <%= link_to t('issues.new issue'), new_issue_path(repository_id: @repository.id, user_id: current_user.id) %>
</div>
</div>