<%= form_with(model: issue) do |form| %>
  <div id="error_wrapper" style="display: flex; justify-content: center; align-items: center;">
    <% if issue.errors.any? %>
      <div id="error_explanation" style="padding_left: 30px; background-color: #ffcccc; border-radius: 10px; padding: 20px;">
        <h2 style="color: #ffcccc;"><i class="fas fa-exclamation-triangle"></i><%= t("helpers.pluralize.other", count: issue.errors.count) %></h2>
        <h3 style="color: #cc0000;"><i class="fas fa-ban"></i> <%= t("activerecord.errors.issues.prohibited") %></h3>
        <ul style="list-style-type: none;">
          <% issue.errors.full_messages.each do |msg| %>
            <ul style="color: #990000;"><i class="fas fa-times-circle"></i> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name, t('issues.name') %>
    <%= form.text_field :name, placeholder: t("issues.name") %>
  </div>

  <div class="field">
    <%= form.label :description, t('issues.description') %>
    <%= form.text_field :description, placeholder: t("issues.description") %>
  </div>

  <div class="field">
    <%= form.label :status, t('issues.status') %>
    <%= form.select :status, Issue.statuses.keys, {prompt: "選択してください"}, class: "status_select" %>
  </div>

  <div class="field">
    <%= form.label :priority, t('issues.priority') %>
    <%= form.select :priority, Issue.priorities.keys, {prompt: "選択してください"}, class: "priority_select" %>
  </div>

  <%= form.hidden_field :repository_id %>
  <%= form.hidden_field :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
