<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("helpers.pluralize.other", count: issue.errors.count) %></h2>
      <ul>
        <% issue.errors.each do |error| %>
          <ul><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('issues.name')  %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, t('issues.description') %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :status, t('issues.status') %>
    <%= form.select :status, Issue.statuses.keys, {prompt: "選択してください"}, class: "status_select" %>
  </div>

  <div class="field">
    <%= form.label :priority, t('issues.priority') %>
    <%= form.select :priority, Issue.priorities.keys, {prompt: "選択してください"}, class: "priority_select" %>
  </div>

  <%= form.hidden_field :repository_id %>
  <%= form.hidden_field :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
