<% if params[:repository_id].present? %>
  <h1>Repositoryにぶら下がっているIssues</h1>
<% else %>
  <h1>Userにぶら下がっているIssues</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Repository</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @issues.present? %>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.name %></td>
          <td><%= issue.description %></td>
          <td><%= issue.status %></td>
          <td><%= issue.priority %></td>
          <td><%= issue.repository_id %></td>
          <td><%= link_to 'Show', issue_path(issue) %></td>
          <td><%= link_to 'Edit', edit_issue_path(issue, repository_id: @repository) if issue.user_id == current_user.id %></td>
          <td><%= link_to 'Destroy', issue_path(issue, repository_id: @repository), method: :delete, data: { confirm: 'Are you sure?' }  if issue.user_id == current_user.id %></td>
          <%#= link_to 'Destroy', issue_path(repository_id: issue.repository.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%# 上記だとshowアクションにとぶ・・・ %>
          <td>
            <% if current_user.id == issue.user_id %>
              <% if issue.assignees.present? %>
                <%= link_to 'Fire!', assignee_path(issue.id, issue: issue, user_id: current_user), method: :delete %>
                <%# issue.idが必要な理由は、どのidのissueのassign削除するか指定するため %>
              <% else %>
                <%= link_to 'Assign', assignees_path(issue: issue, user_id: current_user), method: :post %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%#= paginate @issues %>
<%= link_to 'New Issue', new_issue_path(repository_id: @repository) %>
<%# 上記のパラメータを用いてnew issueを作成するとリポジトリに結びついたissue作成がコントローラでできるようになる %>