<p>
  <strong>Name:</strong>
  <%= @issue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @issue.repository_id %>
</p>

<%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_issue_path(@issue, repository_id: @repository) %> |
<%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, issues_path(repository_id: @issue.repository.id) %>
