<div class="row justify-content-md-center">
  <div class="col-10 p-4">
    <div class="d-flex justify-content-between mb-3">
    </div>
    <div class="version-info">
      <h1 class="font-weight-bold mb-4 version-title">
        バージョン○○
      </h1>
      <% if @version.next.present? %>
        <%= button_to document_version_path(@document, @version),
          class: 'btn revert-btn',
          method: :patch,
          data: { confirm: '本当によろしいですか？' } do %>
          <i class="fas fa-history"></i> このバージョンへ戻す
        <% end %>
      <% else %>
        <span class="btn latest-edition-btn disabled">
          <i class="fas fa-history"></i> 最新版です
        </span>
      <% end %>
      <% @version.changeset.keys.select { |key| %w[name content].include?(key) }.each do |key| %>
        <div class="mb-4">
          <h3 class="font-weight-bold attribute-title">
            <i class="fas fa-file-alt"></i> <%= Document.human_attribute_name(key) %>
          </h3>
          <div class="attribute-content">
            <%= raw @version.changeset[key].last %>
          </div>
        </div>
      <% end %>
      <%= link_to document_path(@document), class: 'align-self-center back-link' do %>
        <i class="fas fa-arrow-left"></i> <%= "\"#{@document.name}\"へ戻る" %>
      <% end %> 
    </div>
  </div>
</div>
