<div class="follow-wrapper">
  <div class="following-container box-container">
    <h2><%= t('common.follow') %></h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t('common.user name') %></th>
          <th><%= t('common.profile') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |following| %>
        <%# @user.following.each do |following| %>
        <%# ページネーション使うために書き換えた %>
          <tr>
            <td><%= following.name %></td>
            <td><%= link_to ('<i class="fas fa-eye"></i>' + t('users.show profile')).html_safe, following %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
    <%#= paginate @repositories, param_name: 'repository_page' %>
  </div>
</div>
