<div class="follow-wrapper">
  <div class="followers-container box-container">
    <h2><%= "#{@user.name}ã®#{t('common.follower')}:#{@followers.count}" %></h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t('common.user name') %></th>
          <th><%= t('common.profile') %></th>
        </tr>
      </thead>
      <tbody>
        <% @followers.each do |follower| %>
          <tr>
            <td><%= follower.name %></td>
            <td><%= link_to ('<i class="fas fa-eye"></i>' + t('users.show profile')).html_safe, user_path(follower) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @followers %>
  </div>
</div>
