<div class="profile-container">
<div class="profile-info">
  <% if current_user == @user %>
    <p><strong><%= "#{current_user.name}の#{t('common.profile')}:" %></strong> </p>
    <p><strong><%= t('common.user name') %>:</strong> <%= current_user.name %></p>
    <p><strong><%= t('common.Email') %>:</strong> <%= current_user.email %></p>
    <p><strong><%= t('common.Content') %>:</strong> <%= current_user.content %></p>
    <p><strong><%= t('common.icon') %>:</strong> <%= current_user.icon %></p>
    <p><strong><%= t('common.points') %>:</strong> <%= "#{@user.points}ポイント" %></p>
    <p><strong><%= t('common.follow') %>:</strong> <%= "#{@followers.count}" %> <%= link_to t('common.display'), following_relationships_path(user_id: current_user.id) %></p>
    <p><strong><%= t('common.follower') %>:</strong> <%= "#{@users.count}" %> <%= link_to t('common.display'), followers_relationships_path(user_id: current_user.id) %></p>
  <% elsif current_user != @user %>
    <p><strong><%= "#{@user.name}の#{t('common.profile')}:" %></strong> </p>
    <p><strong><%= t('common.user name') %>:</strong> <%= @user.name %></p>
    <p><strong><%= t('common.Content') %>:</strong> <%= @user.content %></p>
    <p><strong><%= t('common.icon') %>:</strong> <%= @user.icon %></p>
    <p>
      <strong><%= t('common.points') %>:</strong> <%= link_to new_point_path(receiver_id: @user.id) do %>
        <%= "#{@user.name}さんにポイントを送る" %> <%= content_tag(:i, 'send', class: 'material-icons', style: 'font-size: 18px;') %>
      <% end %>
    </p>
    <p><strong><%= t('common.follow') %>:</strong> <%= "#{@followers.count}" %> <%= link_to t('common.display'), following_relationships_path(user_id: @user.id) %></p>
    <p><strong><%= t('common.follower') %>:</strong> <%= "#{@users.count}" %> <%= link_to t('common.display'), followers_relationships_path(user_id: @user.id) %></p>
  <% end %>

  <div class="profile-actions">
    <%= link_to '<i class="fas fa-pencil-alt"></i> Edit'.html_safe, users_edit_path(id: @user.id), class: "profile-action-btn" %>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, users_path, class: "profile-action-btn" %>
  </div>
</div>

<div class="repository-info">
  <% if current_user == @user %>
    <p> <strong><%= "#{current_user.name}の#{t('repositories.repositories')}:" %></strong> </p>
  <% elsif current_user != @user %>    
    <p> <strong><%= "#{@user.name}の#{t('repositories.repositories')}:" %></strong> </p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th><%= t('repositories.name') %></th>
        <th><%= t('repositories.description') %></th>
        <th><%= t('repositories.owner') %></th>
        <th class="action"><%= t('common.show') %></th>
        <th class="action"><%= t('common.edit') %></th>
        <th class="action"><%= t('common.destroy') %></th>
      </tr>
    </thead>

    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%= repository.name %></td>
          <td><%= repository.description %></td>
          <td><%= repository.user.name %></td>
          <td><%= link_to ('<i class="fas fa-eye"></i>' + t('common.show')).html_safe, repository %></td>
          <td><%= link_to ('<i class="fas fa-edit"></i>' + t('common.edit')).html_safe, edit_repository_path(repository) %></td>
          <td><%= link_to ('<i class="fas fa-trash"></i>' + t('common.destroy')).html_safe, repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @repositories, param_name: 'repository_page' %>
  <%= link_to t('repositories.new repository'), new_repository_path %>
</div>

<% if @conversations.present? %>
  <div class="conversation-container">
    <div class="conversation-info">
      <p><strong><%= "#{current_user.name} の#{t('common.conversations')}:" %></strong> </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= t('common.conversations') %></th>
            <th scope="col"><%= t('common.show') %></th>
          </tr>
        </thead>
        <tbody>
          <% @conversations.each do |conversation| %>
            <% if conversation.target_user(current_user).present? %>
              <tr>
                <td><%= conversation.target_user(current_user).name %></td>
                <td><%= link_to ('<i class="fas fa-eye"></i>' + t('common.show')).html_safe, conversation_messages_path(conversation) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @conversations, param_name: 'conversation_page' %>
    </div>
  </div>
<% end %>

