<p> <strong><%= current_user.name %>のプロフィール:</strong> </p>
<p> <strong>Name:</strong> <%= current_user.name %> </p>
<p> <strong>Email:</strong> <%= current_user.email %> </p>
<p> <strong>Content:</strong> <%= current_user.content %> </p>
<p> <strong>Icon:</strong> <%= current_user.icon %> </p>
<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>

<p> <strong><%= current_user.name %>のRepository:</strong> </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.description %></td>
        <td><%= repository.user_id %></td>
        <td><%= link_to 'Show', repository %></td>
        <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
        <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <strong><%= current_user.name %>のConversation:</strong> </p>
<% @conversations.each do |conversation| %>
  <td>
    <% if conversation.target_user(current_user).present? %>
      <%= link_to "#{conversation.target_user(current_user).name}との会話", conversation_messages_path(conversation)%>
    <% end %>
  </td>
  <br>
<% end %>


