<div class="profile-container">
<div class="profile-info">
  <% if current_user == @user %>
    <p><strong><%= current_user.name %>のプロフィール:</strong></p>
    <p><strong>Name:</strong> <%= current_user.name %></p>
    <p><strong>Email:</strong> <%= current_user.email %></p>
    <p><strong>Content:</strong> <%= current_user.content %></p>
    <p><strong>Icon:</strong> <%= current_user.icon %></p>
    <p><strong>Point:</strong> <%= "#{@user.points}ポイント" %></p>
  <% elsif current_user != @user %>
    <p><strong><%= @user.name %>のプロフィール:</strong></p>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Content:</strong> <%= @user.content %></p>
    <p><strong>Icon:</strong> <%= @user.icon %></p>
    <p>
      <strong>point:</strong> <%= link_to new_point_path(receiver_id: @user.id) do %>
        <%= "#{@user.name}さんにポイントを送る" %> <%= content_tag(:i, 'send', class: 'material-icons', style: 'font-size: 18px;') %>
      <% end %>
    </p>

  <% end %>

  <div class="profile-actions">
    <%= link_to '<i class="fas fa-pencil-alt"></i> Edit'.html_safe, users_edit_path(id: @user.id), class: "profile-action-btn" %>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, users_path, class: "profile-action-btn" %>
  </div>
</div>

<div class="repository-info">
  <% if current_user == @user %>
    <p> <strong><%= current_user.name %>のRepository:</strong> </p>
  <% elsif current_user != @user %>
    <p> <strong><%= @user.name %>のRepository:</strong> </p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th class="action">Show</th>
        <th class="action">Edit</th>
        <th class="action">Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%= repository.name %></td>
          <td><%= repository.description %></td>
          <td><%= repository.user.name %></td>
          <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, repository %></td>
          <td><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_repository_path(repository) %></td>
          <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @repositories, param_name: 'repository_page' %>
</div>

<% if @conversations.present? %>
  <div class="conversation-container">
    <div class="conversation-info">
      <p><strong><%= current_user.name %>のConversation:</strong> </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">会話相手</th>
            <th scope="col">リンク</th>
          </tr>
        </thead>
        <tbody>
          <% @conversations.each do |conversation| %>
            <% if conversation.target_user(current_user).present? %>
              <tr>
                <td><%= conversation.target_user(current_user).name %></td>
                <td><%= link_to "会話を見る", conversation_messages_path(conversation) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @conversations, param_name: 'conversation_page' %>
    </div>
  </div>
<% end %>



