<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("helpers.pluralize.other", count: document.errors.count) %></h2>
      <ul>
        <% document.errors.each do |error| %>
          <ul><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.hidden_field :content %>
    <trix-editor input="document_content" class="trix-content">
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
    <%# TODO:受け渡されているデータをhidden_fieldに入力するにはvalueを使う %>
    <%# TODO: value: current_user.idを使うとデータ更新できる人が作成者と異なる場合、user_idが
    書き換えられてしまうのではないか %>
  </div>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.text_field :branch_id, value: @branch.id %>
  </div>

  <div class="field">
    <%= form.label :repository_id %>
    <%= form.text_field :repository_id, value: @repository.id %>
  </div>
  
  <%## hidden_fieldにデータを持たせる %>
  <div class="field">
    <%= form.fields_for :commit do |commit| %>
      <%= commit.label :message %>
      <%= commit.text_field :message, required: true %>
      <%= commit.hidden_field :user_id, value: current_user.id %>
      <%= commit.hidden_field :branch_id, value: @branch.id %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
