<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("helpers.pluralize.other", count: document.errors.count) %></h2>
      <ul>
        <% document.errors.each do |error| %>
          <ul><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t("documents.name") %>
    <%= form.text_field :name, placeholder: t("documents.name") %>
  </div>

  <div class="field">
    <%= form.label :content, t("documents.content") %>
    <%= form.text_field :content, placeholder: t("documents.content") %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%## TODO:受け渡されているデータをhidden_fieldに入力するにはvalueを使う %>
  <%## TODO: value: current_user.idを使うとデータ更新できる人が作成者と異なる場合、user_idが
  書き換えられてしまうのではないか %>
  <%= form.hidden_field :branch_id, value: @branch.id %>
  <%= form.hidden_field :repository_id, value: @repository.id %>
  
  <%## hidden_fieldにデータを持たせる %>
  <div class="field">
    <%= form.fields_for :commit do |commit| %>
      <%= commit.label :message, t("commits.message") %>
      <%= commit.text_field :message, required: true, placeholder: t("commits.message") %>
      <%= commit.hidden_field :user_id, value: current_user.id %>
      <%= commit.hidden_field :branch_id, value: @branch.id %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
    <%= form.submit I18n.t('documents.save_draft'), name: "save_draft" %>
    <%# name: "save_draft" は、HTMLの submit タグに名前を付けるためのオプション。 %>
    <%# このオプションは、フォームの送信時にどの送信ボタンがクリックされたかを識別するために使われます。%>
  </div>
<% end %>
