<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Markdiff</title>
    <style>
      .container {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        width: 100%; /* 画面全体に広げる場合 */
      }
      .column {
        flex: 1;
        padding: 1rem;
        width: 50%;
      }
      ins {
        background-color: #e6ffe6;
        text-decoration: none;
      }
      del {
        background-color: #ffe6e6;
        text-decoration: line-through;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ccc;
        padding: 0.5rem;
        text-align: left;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between mb-3">
        <%= link_to "\"#{@document.name}\"へ戻る", document_path(@document, branch_id: @branch.id, repository_id: @repository.id) %>
        <h1><%= t('documents.show_diff') %></h1>
      </div>
    </div>
    <div class="container">
      <div class="column">
        <table>
          <% @version.changeset.keys.select { |key| %w[name content].include?(key) }.each do |key| %>
            <tr>
              <th><%= Document.human_attribute_name(key) %>: <%= t('documents.old_version') %></th>
            </tr>
            <tr>
              <td><%= raw @version.changeset[key][0].to_s.gsub("\n", "<br>").html_safe %></td>
            </tr>
          <% end %>
        </table>
      </div>
      
      <div class="column">
        <table>
          <% @version.changeset.keys.select { |key| %w[name content].include?(key) }.each do |key| %>
            <tr>
              <th><%= Document.human_attribute_name(key) %>: <%= t('documents.diff') %></th>
            </tr>
            <tr>
              <td>
                <% old_version = @version.changeset[key][0].nil? ? '' : strip_tags(@version.changeset[key][0]) %>
                <% new_version = @version.changeset[key][1].nil? ? '' : strip_tags(@version.changeset[key][1]) %>
          <% old_version_with_markers = old_version.gsub("\n", "\n\u200B") %>
          <% new_version_with_markers = new_version.gsub("\n", "\n\u200B") %>
                <%# diff_mainとdiff_cleanupSemanticは、diff_match_patchというライブラリのメソッド。 %>
                <%# このライブラリは、テキストの差分を計算し、適切な形式で表示するためのツールを提供している。 %>
                <%# @dmpは、diff_match_patchライブラリのインスタンス。 %>
                <%# このインスタンスを使って、diff_mainやdiff_cleanupSemanticなどのメソッドにアクセスできる。 %> 
                <%#TODO: diffs = @dmp.diff_main(old_version, new_version) %>
          <% diffs = @dmp.diff_main(old_version_with_markers, new_version_with_markers) %>
                <%# @dmp.diff_cleanupSemantic(diffs) だけでは、diffs変数が未定義のままになる。 %>
                <%# diffs変数は、diffs = @dmp.diff_main(old_version, new_version) で定義され、old_versionとnew_versionの間の差分を格納 %>
                <% @dmp.diff_cleanupSemantic(diffs) %>
                <% pretty_html = @dmp.diff_prettyHtml(diffs) %>
                <% pretty_html_with_breaks = pretty_html.gsub(/\n/, "&#x21B5;<br>") %>
                <%= raw pretty_html_with_breaks.html_safe %>
                <%# FIXME:以下のようにすることで、改行を原文通りに表示できる %>
                <%#= raw @dmp.diff_prettyHtml(diffs).gsub("\n", "<br>").html_safe %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>






      <div class="column">
        <table>
          <% @version.changeset.keys.select { |key| %w[name content].include?(key) }.each do |key| %>
            <tr>
              <th><%= Document.human_attribute_name(key) %>: <%= t('documents.new_version') %></th>
            </tr>
            <tr>
              <td><%= raw @version.changeset[key][1].to_s.gsub("\n", "<br>").html_safe %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </body>
</html>
