<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# 以下のdescriptionとauthorはSEO対策で使われる %>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Writer's Base</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1V7Uz8Sxm2J6U/R7vusJ/7kbd8e1UIE7CGDwNv" crossorigin="anonymous">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'header_scroll', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dropdown', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3W5speXa1NTwwcZeBk5l/5W6Yg/Slf" crossorigin="anonymous">
    <style>
      body {
        background-image: url(<%= asset_url 'fountain_pen_2.jpg' %>);
        /* 背景画像の表示方法を指定する場合は、background-size, background-positionなどのプロパティを追加することができます */
        background-size: cover; /* 画面いっぱいに表示 */
        background-position: center center; /* 画像を中央に表示 */
        /* その他のスタイルを追加 */
        min-height: 100vh; /* 追加 */
      }
      
      header {
        position: fixed; /* 追加 */
        top: 0; /* 追加 */
        left: 0; /* 追加 */
        right: 0; /* 追加 */
        z-index: 1000; /* 追加 */
        background-color: RGBA(185, 100, 35, 0.9);
        z-index: 999;
      }
      
      header::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: RGBA(175, 90, 30, 0.5);
        backdrop-filter: blur(30px);
        opacity: 0.9;
        z-index: -1;
      }
      
    .dropdown-content { /* プルダウンのクラス名に置き換えてください */
      max-height: calc(80vh - 100px); /* 画面の高さの80%からフッターの高さ（30px）を引く */
      overflow-y: auto; /* 必要に応じてスクロールバーを表示 */
    }
    
    </style>
  </head>

  <body>
    <header id="header">
      <div class="nav-container">
        <div class="nav-left">
          <nav class="nav-item">
            <div class="website-name">
              <% if current_user&.admin? %>
              <%# if current_user.try!admin?は上記と意味は同じ。 %>
                <h1 class="header-title"><%= link_to "Writer's Base admin", root_path, class: 'nav-title' %></h1>
              <% else %>
                <h1 class="header-title"><%= link_to "Writer's Base", root_path, class: 'nav-title' %></h1>
              <% end %>
            </div>    
          </nav>
        </div>

        <div class="current-user">
          <% if current_user.present? %>
            <h3 class="header-current-user"><%= t('common.current user') %>: <%= "#{current_user.name}さん" %></h3>
            <h3 class="header-current-user"><%= t('common.current points') %>: <%= "#{current_user.points}ポイント" %></h3>
          <% end %>
        </div>

        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <% if flash[:success] %>
          <p class="alert alert-success"><%= flash[:success] %></p>
        <% end %>

        <div class="nav-right">
          <div class="header-icons">
            <!--tweetボタン-->
            <a href="#" target="_blank" onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(document.URL) + '&text=' + encodeURIComponent(document.title)); return false;" style="background-color: transparent;">
              <i class="fab fa-twitter fa-2x twitter-icon"></i>
            </a>
            <!--facebookボタン-->
            <a href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL)); return false;" style="background-color: transparent;">
              <i class="fab fa-facebook-f fa-2x facebook-icon"></i>
            </a>
            <!--LINEボタン-->
            <a href="#" target="_blank" onclick="window.open('https://social-plugins.line.me/lineit/share?url=' + encodeURIComponent(document.URL)); return false;" style="background-color: transparent;">
              <%= image_tag 'LINE_Brand_icon.png', alt: 'LINE', class: 'line-icon', width: 24, height: 24 %>
            </a>
            <!--GitHubボタン-->
            <a href="https://github.com/KNGShiranui/Writer-s-base" target="_blank" >
              <%= image_tag 'github-mark.png', alt: 'GitHub', class: 'github-icon', width: 24, height: 24 %>
            </a>
            <%# <span>←共同開発者募集中</span>  %>
          </div>
          
          <div class="dropdown">
            <button><i class="material-icons dropbtn">menu</i> </button>
            <div class="dropdown-content">
              <% if user_signed_in? %>
                <% if current_user&.admin? %>
                  <%= link_to raw('<i class="material-icons">security</i>' + t('common.administrator')), rails_admin_path %>
                <% end %>
                

                  <%= link_to raw('<i class="material-icons">people</i>' + t('common.users')), users_path %>
                  <%= link_to raw('<i class="material-icons">person</i>' + t('common.profile')), user_path(current_user.id) %>
                  <%= link_to raw('<i class="material-icons">person_add</i>' +t('common.follow')), following_relationships_path(user_id: current_user.id) %>
                  <%# followerとfollowをindexアクション内で条件分岐したらOK %>
                  <%= link_to raw('<i class="material-icons">person_outline</i>' +t('common.follower')), followers_relationships_path(user_id: current_user.id) %>
                  <%= link_to raw('<i class="material-icons">send</i>' +t('common.send points')).html_safe, new_point_path %>
                  <%= link_to raw('<i class="material-icons">chat</i>' +t('common.conversations')), conversations_path %>
                  <%= link_to raw('<i class="material-icons">folder</i>' +t('common.repositories')), repositories_path %>
                  <%= link_to raw('<i class="material-icons">favorite</i>' +t('common.favorite repositories')), favorite_repositories_path %>
                  <%= link_to raw('<i class="material-icons">error</i>' +t('common.issues')), issues_path(user_id: current_user.id) %>
                  <%= link_to raw('<i class="material-icons">logout</i>' +t('common.logout')), destroy_user_session_path, method: :delete %>
              <% else %>
                  <%= link_to raw('<i class="material-icons">person_add</i>' +t('common.sign up')), new_user_registration_path %>
                  <%= link_to raw('<i class="material-icons">login</i>' +t('common.login')), new_user_session_path %>
                  <%= link_to raw('<i class="material-icons">person_outline</i>' +t('common.guest admin login')), guest_admin_sign_in_path %>
                  <%= link_to raw('<i class="material-icons">person_outline</i>' +t('common.guest login')), guest_sign_in_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="main-content"> 
      <div>
        <%= yield %>
      </div>
    </div>
    
    <footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col">
            <div class="footer-text">
              <%= link_to "#{t('common.Your writing accelerates')} #{'&nbsp;' * 3} #{t("common.everyone's writing connects")}".html_safe, top_thanks_path, style: "color: white;" %><br>
              <a href="https://twitter.com/KNG_DIC_WEF2301" class="footer-link">
                Copyright &copy; This Website 2023
              </a>
            </div>
            <!--Blue_Mysticボタン-->
            <div class="footer-icon">
              <a href="https://github.com/KNGShiranui/Writer-s-base" target="_blank" >
                <%= image_tag 'blue_mystic.JPG', alt: 'Blue_Mystic', class: 'Blue_Mystic-icon', width: 24, height: 24 %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Core theme JS-->
    <script>
      document.querySelector('.dropbtn').addEventListener('click', function() {
        document.querySelector('.dropdown-content').classList.toggle('show');
      });

      window.addEventListener('click', function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName('dropdown-content');
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      });
    </script>
    <%# 以下、ショートカットキー用の記載 %>
    <% if user_signed_in? %>
      <script>
      // プルダウンメニュー
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 77) { // 77はMのキーコードです
            var dropdown = document.querySelector(".dropdown-content");
            dropdown.classList.toggle("show");
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // ユーザ一覧
        document.addEventListener('keydown', function(event) {
          if (event.shiftKey && event.keyCode === 85 ) { // 85はUのキーコード
            window.location.href = '<%=j users_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // プロフィール
        document.addEventListener('keydown', function(event) {
          if (event.shiftKey && event.keyCode === 80 ) { // 80はPのキーコード
            window.location.href = '<%=j user_path(current_user.id) %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // フォロー
        document.addEventListener('keydown', function(event) {
          if (event.shiftKey && event.keyCode === 70) { // 70はFのキーコード
            window.location.href = '<%=j following_relationships_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // フォロワー
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 70) { // 70はFのキーコード
            window.location.href = '<%=j followers_relationships_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // ポイント送信
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 80) { // 80はPのキーコード
            window.location.href = '<%=j new_point_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // チャット
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 67) { // 67はCのキーコード
            window.location.href = '<%=j conversations_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // リポジトリ一覧
        document.addEventListener('keydown', function(event) {
          if (event.shiftKey && event.keyCode === 82) { // 82はRのキーコード
            window.location.href = '<%=j repositories_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // お気に入りリポジトリ一覧（リポジトリ一覧とショートカットキーを逆にしたらどっちのキーもお気に入りリポジトリ一覧が表示されるようになった。なんでだろう。）
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 82) { // 82はRのキーコード
            window.location.href = '<%=j favorite_repositories_path %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // イシュー
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 73) { // 73はIのキーコード
            window.location.href = '<%=j issues_path(user_id: current_user.id) %>';
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // Twitter
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.altKey && event.keyCode === 84) { // 84はTのキーコード
            window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(document.URL) + '&text=' + encodeURIComponent(document.title));
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // Facebook
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.altKey && event.keyCode === 70) { // 70はFのキーコードです
            window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL));
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // LINE
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.altKey && event.keyCode === 76) { // 76はLのキーコードです
            window.open('https://social-plugins.line.me/lineit/share?url=' + encodeURIComponent(document.URL));
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      // GitHub
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.altKey && event.keyCode === 71) { // 71はGのキーコードです
            window.open('https://github.com/KNGShiranui/Writer-s-base');
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });

        // 管理人twitter
        document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.shiftKey && event.keyCode === 65) { // 71はAのキーコードです
            window.open('https://twitter.com/KNG_DIC_WEF2301');
            event.preventDefault(); // デフォルトの動作をキャンセルする
          }
        });
      </script>
    <% end %>
  </body>
</html>