<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# 以下のdescriptionとauthorはSEO対策で使われる %>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Writer's Base</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
          <!--<!a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <% if current_user&.admin? %>
                    <%= link_to '管理者画面', rails_admin_path %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ユーザー一覧', users_path %>
                  <%= link_to 'プロフィール', user_path(current_user) %>
                  <%= link_to 'フォロー', following_relationships_path %>
                  <%# followerとfollowをindexアクション内で条件分岐したらOK %>
                  <%= link_to 'フォロワー', followers_relationships_path %>
                  <%= link_to "チャット一覧", conversations_path %>
                  <%= link_to "リポジトリ一覧", repositories_path %>
                  <%= link_to 'お気に入りリポジトリ', favorite_repositories_path %>
                  <%= link_to "参加中のイシュー", issues_path(user_id: current_user.id) %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path %>
                  <%= link_to "ログイン", new_user_session_path %>
                  <%= link_to 'ゲスト管理者ログイン', guest_admin_sign_in_path %>
                  <%= link_to 'ゲストログイン', guest_sign_in_path %>
                </li>
              <% end %>
            </ul>

            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item">
                <% if current_user&.admin? %>
                <%# if current_user.try!admin?は上記と意味は同じ。 %>
                  <h2>Writer's Base admin</h1>
                <% else %>
                  <h1>Writer's Base</h1>
                <% end %>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item">
                <% if notice %>
                  <p class="alert alert-notice"><%= notice %></p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-error"><%= alert %></p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>  
    </header>
      
    <%= yield %>

    <!-- Footer-->
    <footer class="border-top">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <!--tweetボタン-->
                <a href="#" target="_blank" onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(document.URL) + '&text=' + encodeURIComponent(document.title)); return false;">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <!--facebookボタン-->
                <a href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL)); return false;">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <!--LINEボタン-->
                <a href="#" target="_blank" onclick="window.open('https://social-plugins.line.me/lineit/share?url=' + encodeURIComponent(document.URL)); return false;">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-line fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li> 
            </ul>
            <div class="small text-center text-muted fst-italic">
              Copyright &copy; Your Website 2023
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
