<!DOCTYPE html>
<html>
  <head>
    <title>WritersBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if current_user&.admin? %>
    <%# if current_user.try!admin?は上記と意味は同じ。 %>
      <h1>WritersBase_admin</h1>
    <% else %>
      <h1>WritersBase</h1>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "リポジトリ一覧", repositories_path %>
      <%= link_to 'ユーザー一覧', users_path %>
      <%= link_to 'プロフィール', user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </header>
  
  <body>  
    <%= yield %>
  </body>
</html>
